@tailwind base;
@tailwind components;
@tailwind utilities;

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
}

@layer components {
  /* link */
  .link {
    @apply uppercase text-[18px] text-main_white font-mainFont font-medium tracking-tightest px-2 pt-2 pb-0 cursor-pointer hover:text-main_color;
  }
  .link-active {
    @apply uppercase text-[18px] text-main_color font-mainFont font-medium tracking-tightest px-2 pt-2 pb-0;
  }
  .link::after,
  .link-active::after {
    content: "";
    position: absolute;
    height: 1px;
    background-color: #fceb41;
    width: 0;
    left: 50%;
    bottom: 6%;
    transform: translateX(-50%);
    transition: 0.15s cubic-bezier(0.68, -0.55, 0.265, 1.55) all;
  }
  .link:hover::after {
    width: 60%;
  }
  .link-active::after {
    cursor: default;
    width: 60%;
  }

  /* icon-link */
  .icon-link {
  }
  .icon-link::after {
    content: "";
    position: absolute;
    height: 1px;
    background-color: #fceb41;
    width: 0;
    left: 55%;
    bottom: 6%;
    transform: translateX(-50%);
    transition: 0.15s cubic-bezier(0.68, -0.55, 0.265, 1.55) all;
  }
  .icon-link:hover::after {
    width: 60%;
  }

  /* mobile - link */
  .mobile-link {
    /* @apply uppercase text-[18px] text-main_white font-mainFont font-medium tracking-tightest px-2 pt-2 pb-0 cursor-pointer hover:text-main_color; */
    @apply uppercase text-[22px] text-main_white font-mainFont font-medium tracking-tightest px-2 pt-2 pb-2 cursor-pointer hover:text-main_color;
  }
}

/* scrollBar */
/* .scrollbar::-webkit-scrollbar {
  width: 10px;
  height: 20px;
}
.scrollbar::-webkit-scrollbar-track {
  border-radius: 100vh;
  background: #f7f4ed;
}
.scrollbar::-webkit-scrollbar-thumb {
  background: #e0cbcb;
  border-radius: 100vh;
  border: 3px solid #f6f7ed;
}
.scrollbar::-webkit-scrollbar-thumb:hover {
  background: #c0a0b9;
} */

/* images */
test-images {
  /* height: 100vh;
  background-color: #111;
  color: white; */
  overflow-x: hidden;
}

.comparisonSection {
  position: relative;
  padding-bottom: 56.25%; /* to maintain aspect ratio (responsive!) */
}
.comparisonImage {
  width: 100%;
  height: 100%;
}
.afterImage_outer {
  transform: translate(100%, 0px);
}
.afterImage_inner {
  transform: translate(-100%, 0px);
}
.comparisonImage img {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
