@tailwind base;
@tailwind components;
@tailwind utilities;

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
}

@layer components {
  /* link */
  .link {
    @apply uppercase text-[18px] text-main_white font-mainFont font-medium tracking-tightest px-2 pt-2 pb-0 cursor-pointer;
  }
  .link-active {
    @apply uppercase text-[18px] text-main_color font-mainFont font-medium tracking-tightest px-2 pt-2 pb-0  border-b-2 border-main_color/80;
  }
  .link::after {
    content: "";
    position: absolute;
    height: 1px;
    background-color: #f69ec4;
    width: 0;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
    transition: 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55) all;
  }
  .link:hover::after {
    width: 60%;
  }
}
