@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  scrollbar-color: #2c2f36 #26292e !important;
  scrollbar-width: thin;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
}

/* svg * {
  transform-box: fill-box;
}

svg clipPath {
  -webkit-transform-origin: 50% 50%;
  transform-origin: 50% 50%;
  -moz-transform-origin: 250px 250px;
} */

/* textarea scrollbar */
textarea::-webkit-scrollbar {
  width: 8px;
  cursor: pointer;
}
textarea::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(38, 41, 46, 0.3);
}
textarea::-webkit-scrollbar-thumb {
  background-color: #dddfe4;
}
textarea::-webkit-scrollbar-corner {
  background-color: #26292e;
}

@layer components {
  /* link */
  .link {
    @apply uppercase text-[18px] text-main_white font-mainFont font-semibold tracking-tightest px-2 pt-2 pb-0 cursor-pointer hover:text-main_color;
  }
  .link-active {
    @apply uppercase text-[18px] text-main_color font-mainFont font-semibold tracking-tightest px-2 pt-2 pb-0;
  }
  .link::after,
  .link-active::after {
    content: "";
    position: absolute;
    height: 1px;
    background-color: #fceb41;
    width: 0;
    left: 50%;
    bottom: 6%;
    transform: translateX(-50%);
    transition: 0.15s cubic-bezier(0.68, -0.55, 0.265, 1.55) all;
  }
  .link:hover::after {
    width: 60%;
  }
  .link-active::after {
    cursor: default;
    width: 60%;
  }

  /* icon-link */
  .icon-link {
  }
  .icon-link::after {
    content: "";
    position: absolute;
    height: 1px;
    background-color: #fceb41;
    width: 0;
    left: 55%;
    bottom: 6%;
    transform: translateX(-50%);
    transition: 0.15s cubic-bezier(0.68, -0.55, 0.265, 1.55) all;
  }
  .icon-link:hover::after {
    width: 60%;
  }

  /* buttons */
  .button-outline {
    @apply px-8 pt-[10px] pb-[11px] font-semibold uppercase border rounded-md cursor-pointer border-main_color font-style-sm bg-background_1_lighter shadow-input-shadow hover:bg-main_color hover:text-background_2_darker hover:shadow-lg;
  }
  .button-fill {
    @apply px-8 pt-[6px] pb-[7px] font-bold uppercase border rounded-md cursor-pointer border-main_color font-style-p bg-main_color shadow-input-shadow hover:bg-main_color text-background_2_darker hover:shadow-button-hover hover:text-background_1_lighter disabled:hover:shadow-input-shadow disabled:bg-main_white_50 disabled:border-main_white_50 disabled:hover:text-background_2_darker;
  }

  .button-error {
    @apply button-fill bg-error border-error hover:bg-error hover:shadow-button-hover-error hover:text-main_white;
  }

  /* mobile - link */
  .mobile-link {
    @apply uppercase text-[22px] text-main_white font-mainFont font-semibold tracking-tightest px-2 pt-2 pb-2 cursor-pointer hover:text-main_color;
  }
  .mobile-link-active {
    @apply uppercase text-[22px] text-main_color font-mainFont font-semibold tracking-tightest px-2 pt-2 pb-2 cursor-pointer;
  }

  .mobile-link-small {
    @apply px-2 pt-2 pb-2 font-medium tracking-tight cursor-pointer text-main_white font-style-p hover:text-main_color;
  }

  /*fonts*/
  .font-style-h3 {
    @apply font-mainFont text-[22px] text-main_white uppercase tracking-tight font-semibold;
  }
  .font-style-h4 {
    @apply font-mainFont text-[16px] text-main_white uppercase tracking-tight;
  }

  .font-style-project-number {
    @apply font-mainFont text-[175px] text-background_2_darker tracking-tight;
  }

  .font-style-p {
    @apply font-mainFont text-[22px] text-main_white tracking-tight;
  }
  .font-style-p-firefox {
    @apply font-mainFont text-[18px] text-main_white tracking-tight;
  }
  .font-style-sm {
    @apply font-mainFont font-semibold text-[17px] text-main_white tracking-tight;
  }
  .font-style-xs {
    @apply font-mainFont text-[10px] text-main_white tracking-wide font-semibold;
  }
  .font-style-formLabels {
    @apply font-mainFont text-[14px] font-semibold text-main_white_50 tracking-tight;
  }
  .font-style-formText {
    @apply font-mainFont text-[16px] font-semibold text-main_white tracking-tight;
  }

  .font-initially-invisible-white-p {
    @apply font-mainFont text-[20px] text-main_white invisible tracking-tight;
  }
  .font-initially-invisible-yellow-p {
    @apply font-mainFont text-[20px] text-main_color invisible tracking-tight;
  }
  .font-initially-invisible-white-p-firefox {
    @apply invisible text-[16px] tracking-tight font-mainFont text-main_white;
  }
  .font-initially-invisible-yellow-p-firefox {
    @apply font-mainFont text-[16px] text-main_color invisible tracking-tight;
  }
}

/* images */
test-images {
  /* height: 100vh;
  background-color: #111;
  color: white; */
  overflow-x: hidden;
}

.comparisonSection {
  position: relative;
  padding-bottom: 56.25%; /* to maintain aspect ratio (responsive!) */
}
.comparisonImage {
  width: 100%;
  height: 100%;
}
.afterImage_outer {
  transform: translate(100%, 0px);
}
.afterImage_inner {
  transform: translate(-100%, 0px);
}
.comparisonImage img {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}

/* loader */
.loader {
  width: 24px;
  height: 24px;
  position: relative;
  overflow: hidden;
}
.loader:before {
  content: "";
  width: 24px;
  height: 24px;
  position: absolute;
  left: 0;
  top: 4px;
  border: 5px solid #0000;
  border-color: #26292e #26292e #0000 #0000;
  border-radius: 50%;
  box-sizing: border-box;
  animation: rotate 3s ease-in-out infinite;
  transform: rotate(-200deg);
}
@keyframes rotate {
  0% {
    border-width: 10px;
  }
  25% {
    border-width: 3px;
  }
  50% {
    transform: rotate(115deg);
    border-width: 10px;
  }
  75% {
    border-width: 3px;
  }
  100% {
    border-width: 10px;
  }
}

#designer-image {
  -webkit-mask-image: url("#mask") no-repeat center / contain;
  mask-image: url("#mask") no-repeat center / contain;
}

.back-to-invisibility {
  visibility: hidden;
}

/* #d-mask {
  position: absolute;
  height: 100%;
  width: 100%;
  margin-left: 2rem;
  padding-right: 2rem;
} */
